<h1>Editing announcement</h1>

<%= render 'form' %>

<%= link_to '', batch_announcement_path(@batch, @announcement), :class => "eye icon", :title => "Show Details" %> |
<%= link_to 'Back', batch_announcements_path(@batch) %>
