<h1>Editing department</h1>

<%= render 'form' %>

<%= link_to '', institute_department_path(@institute, @department), :class => "eye icon", :title => "Show Details" %> |
<%= link_to 'Back', institute_departments_path(@institute) %>
