<h1>Editing document</h1>

<%= render 'form' %>

<%= link_to '', batch_document_path(@batch, @document), :class => "eye icon", :title => "Show Details" %> |
<%= link_to 'Back', batch_documents_path(@batch) %>
