<h1>Editing batch</h1>

<%= render 'form' %>

<%= link_to '', institute_department_batch_path(@institute, @department, @batch), :class => "eye icon", :title => "Show Details" %> |
<%= link_to 'Back', institute_department_batches_path(@institute, @department) %>
