.listactivities{
	width: 75%;
	min-width: 500px;
	margin: 2px 0px 5pt 0px;
	padding: 15pt 10pt;
	background: white;
}

.listactivities:hover{
	background: rgba(255,255,255,0.98);
}

.listactivities:first-of-type{
	border-top: 1px solid rgba(0,0,0,0.2);
}

.listactivities:last-of-type{
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.listactivities p{
	display:inline;
}
