.listactivities{
	width: 75%;
	min-width: 500px;
	margin: 2px 0px 2px 0px;
	padding: 15pt 10pt;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
}

.listactivities:hover{
	background: rgba(0,0,0,0.02);
}

.listactivities:first-of-type{
	border-top: 1px solid rgba(0,0,0,0.2);
}

.listactivities:last-of-type{
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.listactivities p{
	display:inline;
}